<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="~/resources/images/favicon.ico" type="image/x-icon">
    <title>Berger Expert Painting Contractor - Takes Home Painting New Heights</title>
    <meta name="title" content="Berger Expert Painting Contractor - Takes Home Painting New Heights">
    <meta name="description" content="Learn interior-exterior painting, waterproofing, wood-polishing techniques, & more. Develop expertise in the painting industry, impress customers & expand business.">
    <meta name="keywords" content="Berger Expert Painting Contractor">
    @* <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap" rel="stylesheet"> *@
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" media="all" async crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/resources/css/owl.carousel.min.css" media="all" async>
    <link rel="stylesheet" type="text/css" href="~/resources/css/owl.theme.default.min.css" media="all" async>
    <link rel="stylesheet" type="text/css" href="~/resources/css/jquery.fancybox.min.css" media="all" async>
    <link rel="stylesheet" type="text/css" href="~/resources/css/font-awesome.min.css" media="all" async>
    <link rel="stylesheet" type="text/css" href="~/resources/css/aos.css" media="all" async>
    <link rel="stylesheet" type="text/css" href="~/resources/css/footer.css">
    <link rel="stylesheet" type="text/css" href="~/resources/css/hindi-style.css" media="all" async>
    
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">
    <input type="hidden" id="hdnForm" />
    <input type="hidden" id="hdnWedding" />
    <nav class="top-bar ">
        <div class="container-fluid">
            <div class="d-flex">
                <ul>
                    <li>Toll Free No. <a href="tel:7666 60 60 60">7666606060</a></li>
                    <li>
                        <select name="language" id="language" onchange="ChangeLanguage()">
                            <option value="0" selected disabled hidden> हिंदी </option>
                            <option value="Hindi" selected>हिंदी</option>
                            <option value="English">English</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg  ">
        <div class="container-fluid">
            <a class="navbar-brand pl-lg-3" href="javaScript:;">
                <img src="~/resources/images/logo.png" alt="Logo" class="img-fluid logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto align-items-lg-center">
                    <li class="nav-item">
                        <a href="#getNoticed" class="nav-link smoothScroll">पहचान बनाएं</a>
                    </li>
                    <li class="nav-item">
                        <a href="#skillset" class="nav-link smoothScroll">अपने कौशल को बढ़ावा दें </a>
                    </li>
                    <li class="nav-item">
                        <a href="#winProgram" class="nav-link smoothScroll">लिफ्ट एंड विन प्रोग्राम</a>
                    </li>
                    <li class="nav-item">
                        <a href="#benefits" class="nav-link smoothScroll">लाभ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#inspiringStories" class="nav-link smoothScroll">प्रेरणादायक कहानियाँ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#FAQs" class="nav-link smoothScroll">अक्सर पूछे जाने वाले सवाल</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">हमारे बारे में</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()



    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 text-left-center">
                    <ul class="footer-links">
                        <li><a href="https://www.bergerpaints.com/sitemap.html" target="blank">Sitemap</a></li>
                        <li><a href="https://www.bergerpaints.com/disclaimer.html" target="blank">Disclaimer</a></li>
                        <li><a href="https://www.bergerpaints.com/about-us/privacy-policy.html" target="blank">Privacy Policy</a></li>
                        <!-- <li><a href="https://www.bergerpaints.com/terms-and-conditions.html" class="tnc" data-toggle="modal" data-target="#terms">*Terms & Conditions</a></li> -->
                        <li><a href="https://www.bergerpaints.com/terms-and-conditions.html" target="blank" class="tnc">*Terms & Conditions</a></li>
                    </ul>
                    <div class="footer-text text-center">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> Berger Paints India Limited - All Rights Reserved
                        <span class="hidden-xs">|</span><br />
                        Website by
                        <a href="http://www.hgsinteractive.com"
                           title="HGS Interactive"
                           target="_blank"
                           rel="noopener">HGS Interactive</a>
                    </div>
                </div>
                <div class="col-lg-4 text-right-center">
                    <div class="soc-cntr">
                        <div class="footer-text">Connect with us :</div>
                        <ul class="soc-icons">
                            <li>
                                <a href="https://www.facebook.com/BergerPaintsIndia" target="_blank" rel="noopener" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BergerPaintsInd" target="_blank" rel="noopener" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/c/bergerpaints" target="_blank" rel="noopener" title="YouTube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/company/3114627?trk=tyah" target="_blank" rel="noopener" title="linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/bergerpaints/" target="_blank" rel="noopener" title="Pinterest">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bergerPaintsIndia/" target="_blank" rel="noopener" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Modal -->
    <div class="modal modal-terms" id="terms">
        <div class="modal-dialog modal-lg modal-xl">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h4 class="modal-title">Terms and Conditions</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ul class="pl-3">
                        <li>
                            Berger Express Painting (hereinafter referred as 'the services") provides a hassle free solution
                            for painting houses, which is much faster, cleaner and better than traditional painting. The
                            painting work is carried out by trained painters with special equipment, which are deployed
                            based on the painting conditions and specific requirements at the site. The combination of
                            skill, specific equipment and superior wall coating products from the house of Lewis Berger
                            provides a unique experience of peaceful painting of homes.
                        </li>
                        <li>
                            The solution offered by Berger Paints India Limited ("Berger" or "Company") includes
                            painting advisory comprising measurement of the area of the house to be
                            painted, evaluation of the surface to be painted and recommendation of a suitable painting
                            system, providing of a preliminary estimate and introduction of a trained painting contractor
                            ("the Contractor") to the customer. The Contractor referred by the Company is trained on the
                            use of relevant tools with the required skill in all applicable areas.
                        </li>
                        <li>
                            A painting work comprises surface preparation, application of primers or priming and
                            application of finish coats. While Berger trained contractors are sufficiently trained to carry
                            out the required task, the quality also depends on the quality of the wall, the brickwork, the
                            mortar and the cement used, presence of moisture, pollutants, salt petre, etc. For example, if
                            there is seepage of water from any source, a painting work will never be successful. While
                            Berger representatives and contractors will make all reasonable efforts to inspect these issues
                            before commencing any work, it is desirable that the customers also independently carry out
                            an assessment, since all the aspects may not be visible or apparent at the time of inspection.
                            Berger does not provide any masonry or plumbing related services and neither has it trained
                            its contractors in these aspects. It is always advisable for the customers to satisfy themselves
                            in this regard before any painting work.
                        </li>
                        <li>
                            The Contractor through its independent assessment, takes up assignments referred by the
                            Company. The Company specifically states that provision of painting services is subject to
                            contract between the customers and the Contractors. The Company supplies paint through its
                            authorised dealers and provides training only. The Company only acts as a bridge between
                            the customer and the Contractor, and it is entirely left upon the customer and the Contractor
                            to work out the modalities of executing the work.
                        </li>
                        <li>
                            In case a contract is finalized between the Contractor and the customer, based on market
                            rates, the Contractor's services may include the following depending on scope of the job:
                            <ul>
                                <li>Covering furniture and taping parts which are liable to get affected;</li>
                                <li>Scraping of walls;</li>
                                <li>Mixing of putty and textured coatings, if required;</li>
                                <li>Application of paints;</li>
                                <li>Providing desired finish; and</li>
                                <li>Post painting clean-up</li>
                            </ul>
                        </li>
                        <li>
                            During the course of the job, the Contractor may, as per scope of the job and wherever
                            required, utilize automatic tools such as multi-mixers, handheld sanders, auto rollers, etc. for
                            the purpose of fast and trouble free execution of the work. There may be instances where
                            application of one or more of such equipment is not required.
                        </li>
                        <li>
                            The Company does not act as a last stop service provider. The Company has limited control
                            over the painting services delivered by the Contractor and the Company makes only a sincere
                            attempt to assist and guide the customers in order to avail best service and hence does not
                            take responsibility of suitability, reliability, timeliness, or accuracy of the painting services
                            provided by the Contractor. Therefore, in no event the Company shall be liable or responsible
                            in any way for any direct, indirect, incidental, consequential or punitive action arising out of
                            your availing the services offered on this platform.
                        </li>
                        <li>
                            This service is solely provided by the Company to assist customers for availing a hassle free
                            solution for painting houses, which is much faster, cleaner and better. By viewing, using the
                            services available on this platform and carrying out transaction with the Contractor, you fully
                            agree to the terms and conditions set herein.
                        </li>
                        <li>
                            The Company provides the services through a number of Contractors throughout India. Every
                            Contractor has its own terms and conditions. By transacting business with the Contractor
                            after viewing information on our website or call center, you fully agree and undertake to
                            follow their terms and conditions.
                        </li>
                        <li>Once a Customer provides his/her contact details on our website or call centre, the Company's representative may coordinate through phone, sms, notifications, emails or other communications to schedule a time for the Contractor to attend to the Customer's request. The Customer must notify the Company immediately if he/she decides to cancel the request, preferably by phone/email. By providing your contact details, you hereby agree and accept that any solicitation from the Company's end in this respect shall not be considered as "unsolicited commercial communication" as defined in the Telecom Commercial Communication Customer Preference Regulations, 2010 and/or any amendments thereto.</li>
                        <li>XP Sanding machine retains most of the dust generated while sanding in a vacuum bag. Its efficacy depends on surface conditions such as presence of undulations, flaking, moisture, etc. The usage of floor and furniture covers minimises spread of dust.</li>
                    </ul>
                    <p>IN NO EVENT THE COMPANY SHALL BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH YOUR USE OF THE SERVICE.</p>
                    <p>For any queries/assistance, kindly contact our Consumer Relations Manager at 1800 103 6030 or send an email to <a class="mailTo" href="mailto:consumerfeedback@bergerindia.com">consumerfeedback@bergerindia.com</a></p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-pink px-3" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-terms" id="privacy-policy">
        <div class="modal-dialog modal-lg modal-xl">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h4 class="modal-title">Privacy Policy</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body px-4">
                    <h2 class="font20">1.	PURPOSE AND SCOPE</h2>
                    <p class="font16 grey">We, Berger Paints India Limited (“<strong>Company</strong>” or “<strong>we</strong>” or “<strong>our</strong>” or “<strong>us</strong>”), are committed to protect the privacy of the information provider ("<strong>you</strong>" / "<strong>your</strong>" / "<strong>yourself</strong>"). We consider privacy and protection of your data/ information to be of high importance. Our practices and procedures in relation to the collection and use of your data/ information have been set-out below in this privacy policy (“<strong>Privacy Policy</strong>”). This Privacy Policy will familiarize you with the manner in which the Company may collect, use, share, transfer and disclose your data/ information. This Privacy Policy forms an integral part of our terms of use to use our Website (“<strong>Terms of Use</strong>”) as well as any of our web based applications.</p>
                    <p class="font16 grey">The Company reserves the right, at its discretion, to change, modify, amend, add or remove portions of this Privacy Policy at any time without notice. We recommend that you review this Privacy Policy periodically to ensure that you are aware of the current privacy practices of the Company. By visiting our website (<a href="https://www.bergerpaints.com" target="_blank" rel="noopener" style="color:#000 !important">www.bergerpaints.com</a>) (“<strong>Website</strong>”), or using any of our web based applications, you agree to be bound by the terms and conditions of this Privacy Policy (which includes the Terms of Use).</p>
                    <p class="font16 grey">This Privacy Policy shall be construed to be provided in compliance with the Information Technology Act 2000 (“<strong>IT Act</strong>”), as amended from time to time, and shall be read with the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules 2011 (“<strong>SPDI Rules</strong>”), as applicable.</p>
                    <p><strong>Definitions</strong></p>
                    <p class="font16 grey">In this Privacy Policy, unless the context otherwise requires:</p>
                    <ol class="ol-list ol-list-alpha">
                        <li>“<strong>Personal Information</strong>” means any information that relates to a natural person which, either directly or indirectly, in combination with other information available or likely to be available with the Company, is capable of identifying such person.</li>
                        <li>
                            “<strong>Sensitive Personal Data or Information</strong>” of a person means any and/or all such Personal Information which consists of information relating to:
                            <p>• password;</p>
                            <p>• financial information such as bank account or credit card or debit card or other payment instrument details;</p>
                            <p>• physical, physiological and mental health condition;</p>
                            <p>• sexual orientation;</p>
                            <p>• medical records and history;</p>
                            <p>• biometric information;</p>
                            <p>• any detail relating and incidental to the above Clauses as provided to the Company for providing service; and</p>
                            <p>• any of the information received under any of the above Clauses by the Company for processing, stored or processed under lawful contract or otherwise.</p>
                            <p class="font16 grey">Provided that any information that is freely available or accessible in public domain or furnished under the Right to Information Act, 2005 or any other law for the time being in force will not be regarded as Sensitive Personal Data or Information.</p>
                        </li>
                        <li>The words and expressions used in this Privacy Policy but not defined herein but defined in the IT Act or SPDI Rules will have the meanings assigned to them thereunder.</li>
                    </ol>
                    <h2 class="font20">2.	COLLECTION OF INFORMATION</h2>
                    <ol class="ol-list ol-list-alpha">
                        <li>
                            We may collect any and/or all of the  following Personal Information and/or Sensitive Personal Data or Information (as defined hereinbefore) from our employees, job aspirants, dealers, customers, contractors and suppliers including prospective customers and business partners:
                            <ol>
                                <li>Bank account details;</li>
                                <li>Physical, physiological, mental health conditions;</li>
                                <li>Medical records and history; and</li>
                                <li>Biometric information</li>
                            </ol>
                        </li>
                        <li>
                            You represent that all the information or data you provide to us from time to time is and shall be correct, current and updated and that you have all the rights, permissions and consents to provide such information or data. Your providing the data/ information and the Company’s consequent storage, collection, usage, transfer, access or processing of the same shall not be in violation of any third -party agreement, laws, judgments, orders or decrees.
                        </li>
                        <li> In general, the visitors to the Website can access the Website’s home page and browse some areas of the Website, without disclosing any Personal Information or Sensitive Personal Data or Information. </li>
                        <li> However, the Company tracks information provided by visitor’s browser, including the website the visitor came from (known as the referring URL), the type of browser used and other information that does not personally identify any visitor of the Website or any of our web based applications. This may include installation of cookies and collection of other session data. </li>
                        <li> In addition, we may also collect demographic and other data for market research, advertising and promotional purposes.</li>
                    </ol>
                    <h2 class="font20">3.	USE AND PROCESSING OF DATA/ INFORMATION</h2>
                    <ol class="ol-list ol-list-alpha">
                        <li>
                            The information collected by the Company from the employees may be used for a number of purposes connected with our business operations which may include the following:
                            <ol>
                                <li>maintaining attendance records;</li>
                                <li>maintaining employee health record;</li>
                                <li>providing salary to employees;</li>
                                <li>other purposes related to the employment of the employee; </li>
                                <li>legitimate business purposes;</li>
                                <li>to investigate against any complaints; and</li>
                                <li>responding to judicial process and provide information to law enforcement agencies or in connection with an investigation on matters related to public safety, as permitted by law.</li>
                            </ol>
                        </li>
                        <li>
                            The information that may be  collected by the Company from the visitors including but not limited to job aspirants, investors, dealers, customers, contractors and suppliers including prospective customers and business partners may be used for a number of purposes connected with our business operations or otherwise, which may include any and/or all of the following:
                            <ol>
                                <li>dealing with requests, enquiries and complaints, customer services and related activities;</li>
                                <li>responding to your queries and fulfilling your requests for information regarding our Company and its  products and services, ;</li>
                                <li>responding to your queries and fulfilling your requests for information regarding employment;</li>
                                <li>notifying you about our new products or services and sending you important information regarding our products or service;</li>
                                <li>legitimate business purposes; and </li>
                                <li>responding to judicial process and provide information to law enforcement agencies or in connection with an investigation on matters related to public safety, as permitted by law.</li>
                            </ol>
                        </li>
                        <li>Your data/ information will be kept confidential to the maximum possible extent and in accordance with the provisions set out herein. </li>
                    </ol>
                    <h2 class="font20">4.	DISCLOSURE AND TRANSFER OF YOUR PERSONAL INFORMATION (INCLUDING SENSITIVE PERSONAL DATA OR INFORMATION)</h2>
                    <ol class="ol-list ol-list-alpha">
                        <li>We do not sell or rent any Personal Information (including Sensitive Personal Data or Information). </li>
                        <li>
                            We may disclose/ transfer your Personal Information (including Sensitive Personal Data or Information) to our partners, associates, service providers and third parties as necessary or appropriate:
                            <ol>
                                <li>to carry out services on the Company’s behalf under contract;</li>
                                <li>in any manner permitted under applicable law, including laws outside your country of residence; </li>
                                <li>to investigate against any complaints; </li>
                                <li>to comply with any legal process whether local or foreign; </li>
                                <li>to respond to requests from public and government authorities, including public and government authorities outside your country of residence;</li>
                                <li>to enforce our Terms of Use and policies;</li>
                                <li>when the Company, in its sole discretion, deems it necessary in order to protect its rights or the rights of others;</li>
                                <li>to protect our rights or property, privacy, safety or property, and/or that of our affiliates, you or others; and</li>
                                <li>to allow us to pursue available remedies or limit the damages that we may sustain.</li>
                            </ol>
                        </li>
                        <li>The Company may also disclose or transfer the Sensitive Personal Data or Information, to another third party as a part of reorganization or a sale of the assets or business of the Company. Any third party to which the Company transfers or sells its assets will have the right to continue to use such Sensitive Personal Data or Information.</li>
                    </ol>
                    <h2 class="font20">5.	INFORMATION PROVIDER’S RIGHTS IN RELATION TO THEIR SENSITIVE PERSONAL DATA OR INFORMATION COLLECTED BY THE COMPANY</h2>
                    <ol class="ol-list ol-list-alpha">
                        <li>All Sensitive Personal Data or Information provided to the Company by you has been voluntarily provided to us. You have the right to withdraw your consent at any time in writing by sending an e-mail to us at consumerfeedback@bergerindia.com, in accordance with the terms of this Privacy Policy. However, please note that withdrawal of consent will not be retrospective in nature and shall be applicable prospectively. In case  you do not provide your information or consent for usage of Sensitive Personal Data or Information or subsequently withdraw your consent for usage of the Sensitive Personal Data or Information so collected, the Company reserves the right to discontinue the services for which the said information was sought.</li>
                        <li>You may write to us at consumerfeedback@bergerindia.com to access, review, modify or correct your Sensitive Personal Data or Information or withdraw your consent to provide Sensitive Personal Data or Information. However, we are not responsible for the authenticity of the Sensitive Personal Data or Information provided by you.</li>
                        <li>You agree and acknowledge that certain data or information cannot be corrected or deleted or is prohibited to be deleted as required under any applicable law, law enforcement requests or under any judicial proceedings. In respect to such data or information, the aforementioned rights will not be available.</li>
                    </ol>
                    <h2 class="font20">6.	SECURITY PRACTICES AND PROCEDURES</h2>
                    <ol class="ol-list ol-list-alpha">
                        <li>We use reasonable security measures to safeguard and protect your Sensitive Personal Data or Information. You accept the inherent security implications of providing privacy to your information shared with us and you will not hold us responsible for any breach of security or the disclosure of Personal Information unless we have been grossly and willfully negligent. </li>
                        <li>We may enter into agreement with third parties (in or outside of India) to store your information or data. These third parties may have their own security standards to safeguard your information or data and we will on commercial reasonable basis require such third parties to adopt reasonable security standards to safeguard your information / data.</li>
                        <li>Notwithstanding anything contained in this Privacy Policy or elsewhere, we shall not be held responsible for any loss, damage or misuse of your data/ information, if such loss, damage or misuse is attributable to a Force Majeure Event. A “Force Majeure Event” shall mean any event that is beyond our reasonable control and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, unauthorized access to computer data and storage device, computer crashes, breach of security and encryption, etc.</li>
                    </ol>
                    <h2 class="font20">7.	GRIEVANCE REDRESSAL</h2>
                    <p class="font16 grey">Any discrepancies and grievances with respect to processing of Sensitive Personal Data or Information shall be informed to the <strong>Company Secretary</strong>.</p>
                    <h2 class="font20">8. CHANGES TO THIS PRIVACY POLICY</h2>
                    <p class="font16 grey">The Company reserves the right to revise and update this Privacy Policy at its sole discretion.  Any such revisions will be effective on and from the date of posting the same on the Website and will apply to all information collected both prior to and following the effective date.  </p>

                    <p class="font16 grey"><strong>By entering this website, the visitor consents to the terms of this Privacy Policy. By submitting his/her data/information to the Company, the visitor will be treated as having given his/her permission for processing the same in a manner provided in this Privacy Policy. </strong></p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-pink px-3" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
    <input id="UatBaseUrl" value="@System.Configuration.ConfigurationManager.AppSettings["UatBaseUrl"]" style="display:none" />
    <input id="LiveBaseUrl" value="@System.Configuration.ConfigurationManager.AppSettings["LiveBaseUrl"]" style="display:none" />

    <input id="UatUrl" value="@System.Configuration.ConfigurationManager.AppSettings["UatUrl"]" style="display:none" />
    <input id="APIToken" value="@System.Configuration.ConfigurationManager.AppSettings["APiToken"]" style="display:none" />
    <input id="LiveUrl" value="@System.Configuration.ConfigurationManager.AppSettings["LiveUrl"]" style="display:none" />
    <input id="LiveEnvironment" value="@System.Configuration.ConfigurationManager.AppSettings["ISLiveEnvironment"]" style="display:none" />

    

    <script type="text/javascript" src="~/resources/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/resources/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/resources/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/resources/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="~/resources/js/slick.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/resources/js/lazysizes.min.js"></script>
    <script type="text/javascript" src="~/resources/js/aos.js"></script>
    <script type="text/javascript" src="~/resources/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/resources/js/custom.js"></script>
    <script type="text/javascript" src="~/resources/js/dataprocess.js"></script>
    <script type="text/javascript" src="~/resources/js/common-hindi.js"></script>
    <script>
        function ChangeLanguage() {
            var UrlRedirect = "";


            if ($("#language").val() == "Hindi") {
                if ($("#LiveEnvironment").val() == "Yes") {
                    UrlRedirect = $("#LiveUrl").val();
                } else {
                    UrlRedirect = $("#UatUrl").val();
                }
                var Link = UrlRedirect + "PainterLanding/Home/HindiPageRedirect";

                location.href = Link;
            } else {

                if ($("#LiveEnvironment").val() == "Yes") {
                    UrlRedirect = $("#LiveUrl").val() + "expert-contractor";
                } else {
                    UrlRedirect = $("#UatUrl").val() + "PainterLanding";
                }
                var Link = UrlRedirect;

                location.href = Link;


            }
        }

    </script>
</body>
</html>

